.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}



.page-content {
    background: #F2F2F2;
    color: #303030;
    padding-top: 97px;
    min-height: 994px;
    
}