.paginator {
    margin-bottom: 147px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator--theme--red {
    color: #000000;
    margin-bottom: 71px;
    
}

.paginator__display {
    margin-right: 22px;
}

.paginator__list {
    display: flex;
    justify-content: space-between;
    width: 236px;
    
}

.paginator__item {
    text-align: center;
}

.paginator .paginator__item--active .paginator__link {
    background: #fff;
    color: #F5170E;
}

.paginator--theme--red .paginator__item--active .paginator__link {
    background: #F5170E;
    color: #FFFFFF;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}

.paginator__link:hover {
    background: #fff;
    color: #F5170E;
    transition: .3s;
}

.paginator--theme--red .paginator__link:hover {
    background: #F5170E;
    color: #FFFFFF;
    transition: .3s;
}