.reviews {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 70px;
}

.review__item {
    margin-bottom: 17px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 45px 28px;
    background: #F4F5F5;
    border-radius: 5px;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    padding-right: 5px;
}

.review__photo {
    margin-right: 22px;
}

.review__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 5px;
    line-height: 40px;
    width: 233px;
}

.review__user::after {
    content: url(../img/vk-blue.png);
    height: 32px;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 9px 17px;
    border-radius: 70px;
    background: #E7E7E7;
}

.tag-green {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    color: #1A1B1E;
    margin-bottom: 13px;
    letter-spacing: 2px;
}

.review__content-text {
    margin-bottom: 51px;
    line-height: 1.6;
}

.review__date {
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: #1A1B1E;
}

.reviews--paginator {
    margin-bottom: 84px;
}