.services {
    margin-bottom: 67px;
}

.service {
    display: flex;
    margin-bottom: 43px;
}

.service__img {
    width: 41%;
    margin-right: 4%;
}

.service__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1% 0px;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 2px;
    
}

.service__desc {
    line-height: 27px;
}

.service__btn {
    background-color: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
}

.service__btn:hover {
    background-color:#F5170E;
    color: #fff;
}